* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: grey;
}

/* media ~~ 320px */
.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
    padding: 30px 50px;
}

.name-h2 {
    font-weight: normal;

}

.navbar {
    display: flex;
    height: 18px;
    border-bottom: 2px dashed black;
    justify-content: flex-end;
    @media (max-width: 768px) {
        
    }
}

.navbar-link {
    display: inline-block;
    line-height: 18px;
    font-size: 18px;
    height: 20px;
    box-sizing: border-box;
    padding: 0 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.navbar-link:hover {
    border-bottom: 2px solid black;
    font-weight: bold;
}